[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
python-rtmidi = "==1.2.1"

[dev-packages]
black = "==18.9b0"
flake8 = "==3.7.7"
isort = "==4.3.4"
mypy = "==0.670"
